body {
    font-family: Verdana, Geneva, sans-serif;
    color: #039;
    background-color: #FFF;
}

fieldset {
    float: none;
    width: auto;
    padding-left: 12em;
}

fieldset {
    margin: 20px 20px 20px 20px;
    padding: 10px;
    background-color: #F9F9F9;
}

label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}

legend {
    margin-left: 2px;
    color: #000000;
    font-weight: bold;
}

fieldset input {
    margin: 3px 3px 3px 3px;
    list-style: none;
}

fieldset.submit {
    border-style: none;
}

.error {
    color: red;
}

table {
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
    width: 100%;
    border-radius: 3px;
    color: #333;
}

table td, table th {
    border-top-color: white;
    border-bottom: 1px solid #DFDFDF;
    color: #039;
}

table th {
    text-shadow: rgba(255, 255, 255, 0.796875) 0 1 0;
    font-weight: normal;
    padding: 7px 7px 8px;
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
}

table td {
    font-size: 12px;
    padding: 4px 7px 2px;
    vertical-align: top;
}

h1 {
    color: #69F;
}

.header {
    font-family: Verdana, Geneva, sans-serif;
}

nav ul {
    list-style: none;
    overflow: hidden;
    display: inline;
}

nav ul li {
    float: left;
}

nav a:link, nav a:visited {
    width: 8em;
    display: block;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    float: right;
    height: 30px;
    padding: 6px 3px 0 3px;
    clear: left;
    background-color: #69F;
    text-align: center;
}

nav a:hover, nav a:active {
    background-color: #3C0;
}

.date_header {
    display: block;
    padding: 6px 3px 0 3px;
    clear: left;
}

.date_header a {
    text-decoration: none;
    padding: 0 10px 0 10px;
}

h3 a {
    display: block;
    float: right;
    font-size: smaller;
    font-weight: normal;
}

