body {
    font-family: Verdana, Geneva, sans-serif;
    color: #039;
    background-color: #FFF;
    font-size: 12px;
}

fieldset {
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color: #F9F9F9;
}

fieldset label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}

legend {
    margin-left: 2px;
    color: #000000;
    font-weight: bold;
}

fieldset input {
    display: block;
    margin: 4px 4px 4px 4px;
}

fieldset select {
    display: block;
    margin: 4px 4px 4px 4px;
}

fieldset.submit {
    border-style: none;
}

.error {
    color: red;
}

table {
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
    width: 100%;
    border-radius: 3px;
    color: #333;
}

table td, table th {
    border-top-color: white;
    border-bottom: 1px solid #DFDFDF;
    color: #039;
}

table th {
    text-shadow: rgba(255, 255, 255, 0.796875) 0 1 0;
    font-weight: normal;
    padding: 7px 7px 8px;
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
}

table td {
    font-size: 12px;
    padding: 4px 7px 2px;
    vertical-align: top;
}

li {
    display: inline;
    float: right;
}

h1 {
    color: #69F;
}

.header {
    font-family: Verdana, Geneva, sans-serif;
}

nav {
    background-color: #69F;
    height: 36px;
}

nav ul {
    list-style: none;
    overflow: hidden;
    display: inline;
}

nav ul li {
    float: left;
}

nav a:link, nav a:visited {
    width: 8em;
    display: block;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    float: right;
    height: 30px;
    padding: 6px 3px 0px 3px;
    clear: left;
    background-color: #69F;
    text-align: center;
    font-size: 16px;
}

nav a:hover, nav a:active {
    background-color: #3C0;
}

.date_header {
    display: block;
    padding: 6px 3px 0 3px;
    clear: left;
}

.date_header p {
    vertical-align: top;
    display: inline;
}

.date_header a {
    text-decoration: none;
    border-width: 0;
}

.date_header img {
    border-width: 0;
}

h3 a {
    display: block;
    float: right;
    font-size: small;
    font-weight: normal;
}

h2 {
    font-size: 16px;
}

#th_amount, #td_amount {
    width: 60px;
}

#th_unit, #td_unit {
    width: 60px;
}

#th_name, #td_name {
    width: 200px;
}

#th_points, #td_points {
    width: 60px;
}

#th_actions {
    width: 40px;
}

#td_action a {
    width: 20px;
    display: block;
    float: left;
}

#login {
    margin-top: 50px;
}

.center-640 {
    margin: 0px auto 0px;
    max-width: 640px;
}

#login_header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #9FAE00;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    margin-bottom: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 10px;
}

#login_form {
    font-size: 10pt;
    padding: 30px 20px 28px;
    overflow-x: auto;
    overflow-y: hidden;
}

#gray_frame {
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #EDEAE5;
    overflow: hidden;

    border: 1px solid #D8CFBD;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}